@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var lifestyle_node = Umbraco.Content(1414);	 
	
	var lifestyle_pagesToList = @lifestyle_node.Children.Where("Visible");
	lifestyle_pagesToList = lifestyle_node.DescendantsOrSelf().Where("NodeTypeAlias == @0", "NewsPage");
	
	<!-- ***** Life style ***** -->
	<div class="row">
		<div class="col-12">
			<a href="/lifestyle.aspx">Life style</a>
		</div>
	</div>
			
	<div class="row">
		@foreach (var lifestyle_newsItem in lifestyle_pagesToList.OrderBy("createDate desc").Take(2))
		{
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:#CFE7F9; height: 600px;">
				<figure>					
					<img src="@Umbraco.Media(lifestyle_newsItem.articleImg).Url" class="img-fluid news-img" alt="@lifestyle_newsItem.photoAlt" />
					<figcaption>
						<a href="@lifestyle_newsItem.Url">
							<h3 class="photography-news">
								@lifestyle_newsItem.title		
							</h3>						
						</a>
					</figcaption>
				</figure>
			</div>
		}
	</div>				
	<!-- ***** End Life style ***** -->							
}
